<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- headings -->
<h1>hello this is my site</h1>
<h2>hello this is my site</h2>
<h3>hello this is my site</h3>
<h4>hello this is my site</h4>
<h5>hello this is my site</h5>
<h6>hello this is my site</h6>

<p>this is now my paragraph and if you click this <a href="http://google.com" target="_blank">link</a> it will take you to Google.</p>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ollie Rudd</td>
            <td>ollie.rudd@sainsburys.co.uk</td>
            <td>07808801289</td>
        </tr>
        <tr>
            <td>Lilli Cooper</td>
            <td>OllieIsTheBest@gmail.com</td>
            <td>0121do1</td>
        </tr>
    </tbody>
</table>
</body>
</html>